@model HospitalManagementSystem.ViewModels.RoomVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Room</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="form-group">
                <label asp-for="RoomNo" class="control-label"></label>
                <input asp-for="RoomNo" class="form-control" />
                <span asp-validation-for="RoomNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Hospital" class="control-label"></label>
                <select asp-for="HospitalId" class="form-control ">
                    @foreach (var item in @ViewBag.hospital)
                    {
                        <option class=" form-control" value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>

           
            <div class="form-group my-2">
                <input type="submit" value="Save" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</div>


