@model HospitalManagementSystem.ViewModels.ContactVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create Room</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            
           @* <div class="form-group">
                <label asp-for="HospitalId" class="control-label"></label>
                <input asp-for="HospitalId" class="form-control" />
                <span asp-validation-for="HospitalId" class="text-danger"></span>
            </div>*@
     
          @*  <select asp-for="HospitalId" asp-items="@ViewBag.hospital">
                @foreach (var item in @ViewBag.hospital)
                {
                    <option>@item.Name</option>
                }
            </select>*@

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success my-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</div>

